
@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }

form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 16px;
  }

  input {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

 
